<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

  <div id="log-in">
    <p>This website will help you in selecting the best streaming service.</p>
    <p id="message">Sign in with your Google account to access the review section, or click continue as a guest to browse.</p>

      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
  
    <a id="continue-as-guest" href="/services/index">continue as guest</a>
    </div>  
  
</body>
</html>



  




