<%- include("../partials/html-head") %> 
<link rel="stylesheet" href="/stylesheets/services/new.css">
 <%- include("../partials/nav") %>
<section>
  <h2>Add a New Streaming Service</h2>
  <p>Please use Google Images to upload a photo of a streaming service. Right-click on the image and then click Copy Image Address.</p>
  <div id="box">
 <form id="adding-sevices" action="/services" method="POST">
   <label>
     Name:
     <input type="text" name="name" autocomplete="off">
   </label>
<br>
<br>
   <label>
     Description:
     <input type="text" name="Description" autocomplete="off">
   </label>
   <br>
   <br>
   <label>
     subscription:
     <input type="text" name="sub" autocomplete="off">
   </label>
   <br>
   <br>
   <label>
     link:
     <input type="text" name="link" autocomplete="off">
   </label>
   <br>
   <br>
   <button type="submit">Add </button>
 </form> 
</div>
</section>
<%- include("../partials/footer") %> 